<?xml version="1.0"?>
<launch>
	<!-- Params -->
	<param name="use_sim_time" value="true" />
	<arg name="map_name" default="3l_8level" />
	<arg name="bag_name"
		default="/home/aleksandr/catkin_ws/src/bag_data/vector_2023-02-11-14-00-56.bag" />
	<!-- Play ROS bag -->
	<node pkg="rosbag" type="play" name="player" output="log" args="--clock $(arg bag_name) ">
		<remap from="/tf" to="/tf_old" />
		<remap from="/odometry_output" to="/odom_input" />
	</node>
	<!-- TF Static -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_body"
		args="0 0 0.5 0 0 0 base_link body" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_laser_tf_broadcaster"
		args="0.243 0 0.058 0 0 0 body velodyne" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_camera"
		args="0.05 0 -0.033 0 0.55 0 /rslidar /camera_link" />


	<!-- Add navigation with move_base -->
	<include file="$(find play_rosbag)/move_base/move_base.launch" />
	<node name="MapServer" pkg="map_server" type="map_server" output="log"
		args="$(find
	play_rosbag)/move_base/maps/$(arg map_name).yaml" />

	<!-- Add localization with AMCL -->
	<node pkg="amcl" type="amcl" name="amcl" output="log">
		<param name="odom_alpha5" value="0.1" />
		<param name="transform_tolerance" value="0.2" />
		<param name="gui_publish_rate" value="10.0" />
		<param name="laser_max_beams" value="30" />
		<param name="min_particles" value="500" />
		<param name="max_particles" value="5000" />
		<param name="kld_err" value="0.05" />
		<param name="kld_z" value="0.8" />
		<param name="odom_alpha1" value="0.2" />
		<param name="odom_alpha2" value="0.2" />
		<param name="odom_alpha3" value="0.8" />
		<param name="odom_alpha4" value="0.2" />
		<param name="laser_z_hit" value="0.5" />
		<param name="laser_z_short" value="0.05" />
		<param name="laser_z_max" value="0.05" />
		<param name="laser_z_rand" value="0.5" />
		<param name="laser_sigma_hit" value="0.2" />
		<param name="laser_lambda_short" value="0.1" />
		<param name="laser_lambda_short" value="0.1" />
		<param name="laser_model_type" value="likelihood_field_prob" />
		<param name="laser_likelihood_max_dist" value="2.0" />
		<param name="update_min_d" value="0.2" />
		<param name="update_min_a" value="0.5" />
		<param name="odom_frame_id" value="odom" />
		<param name="resample_interval" value="1" />
		<param name="recovery_alpha_slow" value="0.0" />
		<param name="recovery_alpha_fast" value="0.0" />
		<param name="initial_pose_x" value="0.75" />
		<param name="initial_pose_y" value="-1.3" />
		<param name="initial_pose_a" value="1.0" />
		<param name="initial_cov_xx" value="2" />
		<param name="initial_cov_yy" value="2" />
		<param name="initial_cov_aa" value="2" />
		<param name="use_map_topic" value="true" />
	</node>

	<!-- Play odometry -->
	<node pkg="play_rosbag" type="odometry_play" name="odometry" output="log">
		<remap from="odom_output" to="odom" />
	</node>
	<!-- Rub RViz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find play_rosbag)/launch/main.rviz"
		output="log" />
</launch>